
.Header *
{
    background-color: #3E546F;
    margin: 0;
}

.Header h1
{
    padding-top: 45px;
    text-align: center;
}

.Header nav
{
    display: flex;
    justify-content: flex-end;
}

.Header nav .link
{
    padding-right: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    padding-bottom: 20px;
}