
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@import '../components/First/product';
@import '../components/BottomImgComponent/bottomcomp';
@import '../components/Second/winery';
@import '../components/Third/checkout';