.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.formwrapper {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px; }

header {
  background: #F8F9FA;
  padding: 10px;
  box-shadow: 0px 0px 7px 5px #c4c4c4; }
  header .logo-image {
    height: 33px;
    width: 118px; }
  header .search-icon {
    background: #cccaca;
    border-radius: 20px;
    padding: 8px 12px;
    margin-right: 20px;
    color: #fff; }
  header .fa-user-circle {
    font-size: 40px;
    line-height: 1.2;
    color: #cccaca; }

.footer {
  padding: 20px 100px;
  margin-top: 50px;
  color: #cfcfcf;
  background-color: #979797; }

h2 {
  border-bottom: 1px solid #adaaaa;
  padding-bottom: 10px;
  font-weight: 350; }

.newCustomer {
  background-color: #eeeeee;
  padding: 30px 0;
  display: flex;
  justify-content: center; }

.progress-bar {
  max-width: 50%;
  margin: 2% auto; }

.demo {
  background-color: #eeeeee;
  max-width: 600px;
  width: 50%;
  padding: 10px 100px;
  color: gray;
  border-radius: 3px;
  margin: 30px auto; }

.demo input[type=checkbox] {
  margin-right: 10px; }

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
  padding: 30px 0; }
  .buttons .nextbtn {
    background-color: #48b7eb;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 30px; }
  .buttons .cancel {
    color: white;
    background-color: #b6b6b6;
    border-radius: 3px;
    padding: 10px 30px;
    border: none; }

.companyDetails {
  padding-bottom: 70px; }
  .companyDetails .form-group {
    padding: 10px 0; }
  .companyDetails label {
    width: 50%; }
  .companyDetails input {
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid lightgray; }

.account-info {
  padding-bottom: 70px; }
  .account-info .form-group {
    padding: 10px 0; }
  .account-info .selecttech {
    padding: 25px 0; }
  .account-info .date input[type=date] {
    padding: 10px 0;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid lightgray; }

.contact-info .form-group {
  padding: 10px 0; }

.assignProduct {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px; }

.enable {
  padding-bottom: 20px; }
  .enable .category {
    font-size: 25px;
    font-weight: 500; }
  .enable .enablecheck {
    padding-left: 30px;
    font-size: 18px; }
  .enable .middle {
    padding: 20px 40px;
    font-size: 18px; }

.driverManagement {
  border-top: 1px solid gray;
  padding-top: 20px; }
  .driverManagement .category {
    font-size: 25px;
    font-weight: 500; }
  .driverManagement .enablecheck {
    padding-left: 30px; }

.fixedpayment {
  padding-top: 20px; }

.paymentMethod {
  border-top: 1px solid gray;
  padding: 20px 0; }
  .paymentMethod .category {
    font-size: 25px;
    font-weight: 500; }
  .paymentMethod .enablecheck {
    padding-left: 30px; }

.setAdmins {
  margin-top: 50px; }
  .setAdmins .wrapper {
    border: 1px solid gray;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; }
    .setAdmins .wrapper .heading .list {
      display: flex;
      justify-content: space-between;
      padding: 20px 25px 0; }
      .setAdmins .wrapper .heading .list li {
        list-style: none; }
        .setAdmins .wrapper .heading .list li:nth-child(2) {
          padding-left: 9px; }
        .setAdmins .wrapper .heading .list li:nth-child(3) {
          padding-left: 18px; }
        .setAdmins .wrapper .heading .list li:last-child {
          width: 5%; }
    .setAdmins .wrapper .input {
      border-top: 1px solid #a3a3a3; }
      .setAdmins .wrapper .input .list {
        display: flex;
        justify-content: space-between;
        padding: 24px 10px; }
        .setAdmins .wrapper .input .list li {
          list-style: none;
          width: 90%; }
          .setAdmins .wrapper .input .list li input {
            padding: 10px;
            width: 80%; }
          .setAdmins .wrapper .input .list li .dateInput {
            padding: 9px 12px; }
          .setAdmins .wrapper .input .list li:nth-child(4) {
            padding-right: 15px; }
          .setAdmins .wrapper .input .list li:last-child {
            width: 4%;
            line-height: 3; }
          .setAdmins .wrapper .input .list li input[type=radio] {
            width: 20px;
            height: 20px; }
    .setAdmins .wrapper .addMore {
      border-top: 1px solid #a3a3a3;
      padding: 20px 20px; }
      .setAdmins .wrapper .addMore .addBtn {
        border-radius: 50%;
        background: transparent;
        border: 1px solid #a3a3a3; }
        .setAdmins .wrapper .addMore .addBtn:hover {
          cursor: pointer; }

/*# sourceMappingURL=style.css.map */
