.details
{

margin: 20px 0;
border: 1px solid rgb(175, 175, 175);
padding:20px;
border-radius: 10px;

}

.formdetail
{
 text-align: left;
}   

.thirdform
{
    width:60%;
    margin: auto;
}

.autofill
{
    label{
    font-size: 15px;
    margin-left: 10px;
    }

 
}