.Products .cards
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.Products .cards img
{
    height: 357px;
}

.Products h2
{
    padding-left: 80px;
    font-size: 25px;
    font-weight: bold;
}

.Products h5
{
    padding-left: 80px;
    font-size: 18px;
}